.footer {
  margin-top: 60px;
}

.footer .footer-wrap {
  background-color: var(--color-bg-darker);
  opacity: 0.8;
  text-align: center;
}

.footer .footer-wrap p {
  font-size: var(--font-normal);
  color: var(--color-white);
  padding: 10px;
}

.footer .footer-wrap .socials {
  padding: 30px;
  justify-content: center;
}

.footer .footer-wrap .socials a {
  display: inline-block;
  width: 50px;
  transition: 0.3s ease-in-out;
  border-radius: 20%;
  padding: 5px 10px;
  box-shadow: 0 0 5px;
  margin: 15px;
}

.footer .footer-wrap .socials li a:hover {
  transform: scale(1.2);
  background-color: rgb(74, 74, 74);
  transition: 0.3s ease-in-out;
}