.header {
  padding: 30px 15px;
}

.header nav ul {
  display: flex;
}

.header nav li a {
  text-transform: capitalize;
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 500;
  padding: 10px 30px;
  transition: 0.3s ease-in-out;
  border-radius: 50px;
  letter-spacing: 1px;
  user-select: none;
  margin: 0 50px;
}

.header nav ul li a:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* RESPONSIVE */

@media (max-width: 1160px) {
  .header nav li a {
    margin: 0 20px;
  }
}
