.hero {
  color: var(--color-white);
  min-height: 85vh;
  padding: 50px 0;
}

.hero .hero-text {
  letter-spacing: 2px;
  max-width: 55%;
  margin-right: 100px;
}

.hero .hero-text h1 {
  font-size: var(--font-big);
}

.hero .hero-text p,
.hero .hero-text h1,
.hero .hero-text h2 {
  margin-bottom: 20px;
}

.hero .hero-text p,
.hero .hero-text h2 {
  font-weight: 500;
  font-size: var(--font-medium);
}

.hero .hero-text .socials {
  font-size: var(--font-medium);
  margin-top: 30px;
}

.hero .hero-text .socials a {
  display: inline-block;
  margin-right: 20px;
  transition: 0.3s ease-in-out;
  border-radius: 20%;
  padding: 5px 10px;
  box-shadow: 0 0 5px;
}

.hero .hero-text .socials a:hover {
  transform: scale(1.2);
}

.hero .hero-img {
  flex: 0 0 50%;
  max-width: 400px;
  margin: auto;
}

.hero .hero-img img {
  border-radius: 50%;
  border: solid 5px var(--color-brighter);
  box-shadow: 3px 3px 10px;
  padding: 5px;
}

@media (max-width: 1280px) {
  .hero .flex-wrap {
    flex-direction: column;
  }

  .hero .hero-text {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding: 0 var(--mobile-padding);
    margin: 0 auto;
  }
  .hero .hero-text .socials {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .hero .hero-img {
    margin: 30px 0;
    padding: var(--mobile-padding);
  }

  .hero .hero-img img {
    max-width: 100%;
    text-align: center;
  }
}

@media (min-width: 325px) and (max-width: 500px) {
  .hero .hero-text h1 {
    font-size: var(--font-medium);
  }

  .hero .hero-text p,
  .hero .hero-text h2 {
    font-size: var(--font-small);
  }
}
