.hero {
  color: var(--color-white);
  min-height: 100vh;
  padding: 50px 0;
  position: relative;
}

.hero-bg-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.hero::before {
  content: "";
  background-color: rgba(18, 19, 64, 0.4);
  background-attachment: fixed, fixed;
  background-image: url(../../images/overlay-pattern.png), url(../../images/overlay.svg);
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: cover, cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
}

.hero .hero-text h1 {
  font-size: var(--font-big);
  letter-spacing: -2px;
  font-weight: 800;
}

.hero .hero-text p,
.hero .hero-text h1,
.hero .hero-text h2 {
  text-align: center;
  margin-bottom: 20px;
  line-height: 70px;
  z-index: 2;
  position: relative;
}

.hero .hero-text p,
.hero .hero-text h2 {
  font-weight: 300;
  font-size: var(--font-medium);
  letter-spacing: 2px;
}

.hero .hero-text .socials {
  font-size: var(--font-medium);
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero .hero-text .socials a {
  display: inline-block;
  margin-right: 20px;
  transition: 0.3s ease-in-out;
  border-radius: 20%;
  padding: 5px 10px;
  box-shadow: 0 0 5px;
}

.hero .hero-text .socials a:hover {
  transform: scale(1.2);
}

/* ------ RESPONSIVE ------- */
@media (max-width: 1280px) {
  .hero .hero-text {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding: 0 var(--mobile-padding);
    margin: 0 auto;
  }
  .hero .hero-text .socials {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 500px) {
  .hero .hero-text p,
  .hero .hero-text h2 {
    font-size: var(--font-small);
    letter-spacing: 1px;
    line-height: 30px;
  }
}
