/* ------ BODY BACK TO TOP------- */
.back-to-top {
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  background-color: var(--color-brighter);
  color: var(--color-white);
  opacity: 0.8;
  cursor: pointer;

  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 5;

  transition: 0.4s ease-in-out;
}

.back-to-top:hover {
  background-color: var(--color-primary);
  color: var(--color-bg-lighter);
}

.hide-btn {
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

/* ------ BACK TO TOP RESPONSIVE ------- */
@media (max-width: 450px) {
  .back-to-top {
    font-size: 1.8rem;
    width: 30px;
    height: 30px;
  }
}



/* ------ HERO DOWN TO ABOUT ME ------- */
.hero .container .down-hero-chevron {
  position: absolute;
  font-size: 2rem;
  bottom: 70px;
  animation: blink 0.8s infinite alternate ease-in-out;
  background-color: transparent;
  border: none;
  color: var(--color-white);
  cursor: pointer;
}

@keyframes blink {
  0% {
    bottom: 60px;
    opacity: 0.3;
    }
  100% {
    opacity: 0.6;
  }
}



/* ------ FORM ------- */

.footer .footer-wrap .contact-form {
  background-color: #474fda25;
  width: 700px;
  margin: 0 auto;
  border-radius: 20px;
}

.footer .footer-wrap .form .form-inside{
  transition: 0.3s ease-in-out;
}

.hide {
    opacity: 0;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}