/* ------ BODY BACK TO TOP------- */
.back-to-top {
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  background-color: var(--color-brighter);
  color: var(--color-white);
  opacity: 0.8;
  cursor: pointer;

  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 5;

  transition: 0.4s ease-in-out;
}

.back-to-top:hover {
  background-color: var(--color-primary);
  color: var(--color-bg-lighter);
}

.hide-btn {
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

/* ------ BACK TO TOP RESPONSIVE ------- */
@media (max-width: 450px) {
  .back-to-top {
    font-size: 1.8rem;
    width: 30px;
    height: 30px;
  }
}

/* ------ HERO LINK TO ABOUT ME ------- */
.hero .container .down-hero-chevron {
  position: absolute;
  font-size: 2rem;
  bottom: 70px;
  animation: blink 1s infinite ease-in-out;
  background-color: transparent;
  border: none;
  color: var(--color-white);
}

@keyframes blink {
  0% {
    bottom: 65px;
    opacity: 0.8;
  }
  100% {
    bottom: 50px;
    opacity: 0;
  }
}

/* ------ Button that slides ------- */

.button-sliding {
  font-size: var(--font-Xsmall);
  text-align: center;
  min-width: 130px;
  height: 40px;
  color: var(--color-white);
  padding: 8px 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  z-index: 0;
  background: var(--color-bg-lighter);
  overflow: hidden;
  box-shadow: 0 0 5px #000;
  color: var(--color-white);
}

.button-sliding:hover {
  color: #2d2d2d;
}

.button-sliding:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: 0.3s ease-in-out;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: var(--color-primary);
}

.button-sliding:hover:after {
  width: 100%;
}


/* ------ Section block animations ------- */

.hide {
  opacity: 0;
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.6s ease-in-out both;
  animation: slide-in-top 0.6s ease-in-out both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.6s ease-in-out both;
  animation: slide-in-right 0.6s ease-in-out both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.6s ease-in-out both;
  animation: slide-in-left 0.6s ease-in-out both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.roll-in-blurred-top {
  -webkit-animation: roll-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: roll-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes roll-in-blurred-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-720deg);
    transform: translateY(-800px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-720deg);
    transform: translateY(-800px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}