.skills {
  margin-bottom: 50px;
}

.skills-container {
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-container .info-skills {
  max-width: 350px;
  padding: 20px;
  color: var(--color-white);
  font-size: var(--font-Xsmall);
  font-weight: 300;
  transition: 0.5s ease-in-out;
}

.skills-container .info-skills h3 {
  font-size: var(--font-medium);
  font-weight: 600;
  margin-bottom: 30px;
  transition: 0.5s ease-in-out;
}

.skills-container .info-skills .fa-js,
.js h3 {
  color: #f4fb07;
}

.skills-container .info-skills .fa-html5,
.html5 h3 {
  color: #ffa200;
}

.skills-container .info-skills .fa-css3-alt,
.css h3 {
  color: #00ebfe;
}

.skills-container .info-skills .fa-react,
.react h3 {
  color: #61DBFB;
}

.skills-container .info-skills .fa-github,
.github h3 {
  color: #b24eda;
}

.skills-container .info-skills .fa-git-alt,
.git h3 {
  color: #fb5050;
}

.skills-container .info-skills .fa-elementor,
.elementor h3 {
  color: #f2b7e6;
}

.skills-container .info-skills:hover {
  transform: scale(1.1);
}

@media (max-width: 900px) {
  .skills .title-container h2 {
    font-size: var(--font-medium);
  }
  .skills-container .info-skills h3 {
    font-size: var(--font-small);
  }
}
