@use './variables' as *;

@mixin flex {
	display: flex;
}

@mixin flexCenter {
	justify-content: center;
	align-items: center;
}

@mixin sectionsMargin {
	margin-bottom: 40px;
}

@mixin buttonPattern {
	background-color: $button-primary;
	padding: 8px 42px;
	font-size: $text-Xsmall;
	letter-spacing: 0.5px;
	border-radius: 10px;
	transition: 0.3s ease-in-out;
}
