//text-sizes
$text-big: 6.5rem;
$text-medium: 3rem;
$text-normal: 2.5rem;
$text-small: 2rem;
$text-Xsmall: 1.6rem;
$text-default: 1.4rem;

//colors
$primary: #65c4e7;
$brighter: #599bb3;
$bg: #232323;
$bg-darker: #1717177f;
$bg-lighter: #2d5177;
$gray: #404050;
$white: #fff;
$button-primary: #006bdd;

$error-message: #bf3850;
