//text-sizes
$text-big: 6.5rem;
$text-medium: 3rem;
$text-normal: 2.5rem;
$text-small: 2rem;
$text-Xsmall: 1.6rem;
$text-default: 1.4rem;

//colors
$primary: #65c4e7;
$brighter: #599bb3;
$bg: #232323;
$bg-darker: #1717177f;
$bg-lighter: #2d5177;
$gray: #404050;
$white: #ffffff;
$button-primary: #006bdd;
$darker-gray: #2f2f3e;
$accept-green: #215f0d;
$error-message: #bf3850;
$font-bright: #ececec;

//header-fixed-menu
$nav-border: rgba(0, 0, 0, 0.12);
$nav-shadow: rgba(0, 0, 0, 0.1);
$nav-bg: rgb(70, 70, 70);

