@use '@/styles/partials' as *;

.hero {
	@include flex;
	@include flexCenter;

	padding: 30px;
	min-height: 100vh;
	padding: 50px 0;
	position: relative;

	background-image: url('../../assets/hero/sky1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.about {
	padding: 30px;
	margin-bottom: 20px;
	overflow-x: hidden;
}
