@use './partials' as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;

	body {
		max-width: 100vw;
		overflow-x: hidden;
		background-color: $bg;
		color: $white;

		a {
			text-decoration: none;
			color: var(--color-white);
		}

		ul {
			list-style: none;
		}
	}
}

button {
	border-radius: 0;
	text-align: inherit;
	background: none;
	box-shadow: none;
	padding: 0;
	cursor: pointer;
	border: none;
	color: inherit;
	font: inherit;
}
