@use '@/styles/partials' as *;

.socials {
	@include flex;
	@include flexCenter;
	gap: 20px;
	margin-top: 25px;

	a {
		display: inline-block;
		transition: 0.3s ease-in-out;
		border-radius: 20%;
		padding: 10px;
		box-shadow: 0 0 5px;
		background: rgba(0, 0, 0, 0.12);
		backdrop-filter: blur(2px);
		-webkit-backdrop-filter: blur(2px);

		&:hover {
			transform: scale(1.2);
			box-shadow: 0 0 10px 3px $white;
		}
	}
}
