@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  scrollbar-width: auto;
  scrollbar-color: #5c5c5c #2e2e2e;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #2e2e2e;
}

*::-webkit-scrollbar-thumb {
  background-color: #5c5c5c;
  border-radius: 15px;
  border: 0px none #f2f2f2;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

body {
  background: var(--color-bg);
  background-image: url(../images/backgrounds/main.svg);
  background-repeat: space;
  background-position: center;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.flex-wrap {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.title-container {
  font-size: var(--font-medium);
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-white);
}

.title-container .line-style {
  max-width: 200px;
  height: 3px;
  margin: 20px auto;
  opacity: 0.7;

  background: linear-gradient(90deg, rgba(121, 15, 121, 1) 0%, rgba(96, 36, 138, 1) 21%, rgba(103, 17, 163, 1) 37%, rgba(2, 72, 106, 1) 51%, rgba(0, 48, 187, 1) 68%, rgba(0, 140, 168, 1) 100%);
}

.skills-icon {
  font-size: var(--font-big);
}

.socials {
  font-size: var(--font-medium);
}

.socials a:hover {
  background-color: rgb(29, 28, 21);
  transition: 0.3s ease-in-out;
}
