:root {
  --font-big: 4.5rem;
  --font-medium: 3rem;
  --font-normal: 2.5rem;
  --font-small: 2rem;
  --font-Xsmall: 1.6rem;
}

:root {
  --color-primary: #597491;
  --color-secondary: #3e5c76;
  --color-brighter: #748cab;
  --color-bg: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  --color-bg-darker: #0d1321e6;
  --color-bg-lighter: #2e455d;
  --color-white: #fff;
}

:root {
  --mobile-padding: 30px;
}
