:root {
  --font-big: 6.5rem;
  --font-medium: 3rem;
  --font-normal: 2.5rem;
  --font-small: 2rem;
  --font-Xsmall: 1.6rem;
}

:root {
  --color-primary: #65c4e7;
  --color-brighter: #599bb3;
  --color-bg: #232323;
  --color-bg-darker: #1717177f;
  --color-bg-lighter: #2d5177;
  --color-gray: #404050;
  --color-white: #fff;
}

:root {
  --mobile-padding: 30px;
}
