@use '@/styles/partials' as *;

.header {
	position: absolute;
	width: 100%;
	top: 26px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;

	&[data-scrolled='true'] {
		position: fixed;
		top: 0;
	}

	.desktopMenu {
		@include flex;
		padding: 0 30px;
		justify-content: space-between;

		&[data-scrolled='true'] {
			background: rgba(0, 0, 0, 0.12);
			border-radius: 16px;
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(9.5px);
			-webkit-backdrop-filter: blur(9.5px);
			border: 1px solid rgb(70, 70, 70);
			transition: all 0.2s ease-in-out;
		}

		li {
			@include flex;
			@include flexCenter;

			a {
				display: inline-block;
				margin: 0 20px;
				text-transform: capitalize;
				font-size: $text-small;
				letter-spacing: 1px;
				padding: 10px;
				font-weight: 500;

				// HOVER ANIMATION //
				position: relative;

				&:before {
					display: block;
					content: '';
					width: 0;
					height: 2px;
					bottom: 5px;
					left: 0;
					z-index: 0;
					position: absolute;
					background: $white;
					transition: all 0.3s ease-in-out;
				}

				&:hover {
					background-position: 0%;
					&:before {
						width: 100%;
					}
				}
			}
		}
	}
}
